<div class="d-flex justify-content-center">
    <app-card-pokemon style="width: 20rem;" *ngIf="pokemonAtual" [pokemon]="pokemonAtual"></app-card-pokemon>
</div>

<div class="search-results container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="300" (scrolled)="onScrollDown()">
    <div *ngIf=" this.listaPokemon && !pokemonAtual" class="row">
        <div class="col-3 mb-4" *ngFor="let pokemon of this.listaPokemon">
            <app-card-pokemon [pokemon]="pokemon.name"></app-card-pokemon>
        </div>
    </div>
</div>