.card-img-top {
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/2071038-abstrato-branco-e-cinza-curva-circulo-fundo-com-meio-tom-e-iluminacao-vetor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card-img-top:hover{
    background-color: lightgray;
    background-blend-mode: multiply;
}

.card-title{
    text-transform: capitalize;
}